/* CSS Tablas */

#table {
		display: table;
	 	
	 	width: 100%; 
	 	background: #fff;
	 	margin: 0;
	 	box-sizing: border-box;

	 }

	 .caption {
	 	display: block;
	 	width: 100%;
	 	background: #990033;
	 	height: 55px;
	 	padding-left: 10px;
	 	color: #fff;
	 	font-size: 20px;
	 	line-height: 55px;
	 	text-shadow: 1px 1px 1px rgba(0,0,0,.3);
	 	box-sizing: border-box;
	 }
	 
	 
	 .caption_ces {
	 	display: block;
	 	width: 100%;
	 	background: #333333;
	 	height: 55px;
	 	padding-left: 10px;
	 	color: #fff;
	 	font-size: 20px;
		font-weight:300;
	 	line-height: 55px;
	 	/*text-shadow: 1px 1px 1px rgba(0,0,0,.3);*/
	 	box-sizing: border-box;
	 }
	 
	 .caption_dec {
	 	display: block;
	 	width: 100%;
	 	background: #0090b9;
	 	height: 55px;
	 	padding-left: 10px;
	 	color: #fff;
	 	font-size: 20px;
		font-weight:300;
	 	line-height: 55px;
	 	/*text-shadow: 1px 1px 1px rgba(0,0,0,.3);*/
	 	box-sizing: border-box;
	 }
	 
	 .caption_dpe {
	 	display: block;
	 	width: 100%;
	 	background: #43a886;
	 	height: 55px;
	 	padding-left: 10px;
	 	color: #fff;
	 	font-size: 20px;
		font-weight:300;
	 	line-height: 55px;
	 	/*text-shadow: 1px 1px 1px rgba(0,0,0,.3);*/
	 	box-sizing: border-box;
	 }
	 
	 .caption_die {
	 	display: block;
	 	width: 100%;
	 	background: #634E96;
	 	height: 55px;
	 	padding-left: 10px;
	 	color: #fff;
	 	font-size: 20px;
		font-weight:300;
	 	line-height: 55px;
	 	/*text-shadow: 1px 1px 1px rgba(0,0,0,.3);*/
	 	box-sizing: border-box;
	 }
	 
	 
	 

	 .header-row {
	 	background: #666666;
	 	color: #fff;

	 }

	.row {
		display: table-row;
	}

	.cell {
		display: table-cell;
		
		padding: 6px; 
		border-bottom: 1px solid #e5e5e5;
		text-align: left;
	}
	
	.cell_nombre {
		display: table-cell;
		font-weight:300;
		padding: 6px; 
		border-bottom: 1px solid #e5e5e5;
		text-align: left;
		width:25%;
		
	}
	
	.cell_cargo {
		display: table-cell;
		font-weight:300;
		padding: 6px; 
		border-bottom: 1px solid #e5e5e5;
		text-align: left;
		width:25%;
	}
	
	.cell_tel {
		display: table-cell;
		font-weight:300;
		padding: 6px; 
		border-bottom: 1px solid #e5e5e5;
		text-align: left;
		width:20%;
	}
	
	.cell_email {
		display: table-cell;
		font-weight:300;
		padding: 6px; 
		border-bottom: 1px solid #e5e5e5;
		text-align: left;
		width:30%;
		
	}
	
	.

	.primary {
		text-align: left;
	}


	input[type="radio"],
	input[type="checkbox"]{
		display: none;
	}


	@media only screen and (max-width: 760px)  {

		body {
			padding: 0;
		}

		#table {
			display: block;
			margin: 44px 0 0 0;
		}

		.caption {
			/* position: fixed; */
			top: 0;
			text-align: center;
			height: 44px;
			line-height: 44px;
			z-index: 5;
			border-bottom: 2px solid #999;
		}

		.row { 
			position: relative;
			display: block;
			border-bottom: 1px solid #ccc; 

		}

		.header-row {
			display: none;
		}
		
		.cell { 
			display: block;

			border: none;
			position: relative;
			height: 100%;
			line-height: 1.6;
			text-align: left;
		}
		
		
		.cell_nombre { 
			display: block;

			border: none;
			position: relative;
			height: 100%;
			line-height: 1.6;
			text-align: left;
			width:100%;
		}
		
		.cell_cargo { 
			display: block;

			border: none;
			position: relative;
			height: 100%;
			line-height: 1.6;
			text-align: left;
			width:100%;
		}
		
		.cell_tel { 
			display: block;

			border: none;
			position: relative;
			height: 100%;
			line-height: 1.6;
			text-align: left;
			width:100%;
		}
		
		.cell_email { 
			display: block;

			border: none;
			position: relative;
			height: 100%;
			line-height: 1.6;
			text-align: left;
			width:100%;
		}
		
		
		
		

		.primary:after {
			content: "";
			display: block;
			position: absolute;
			right:20px;
			top:9px;
			z-index: 2;
			width: 0; 
			height: 0; 
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent; 
			border-right:10px solid #ccc;

		}

		.cell:nth-of-type(n+2) { 
			display: none; 
		}
		
		.cell_nombre:nth-of-type(n+2) { 
			display: none; 
		}
		
		.cell_cargo:nth-of-type(n+2) { 
			display: none; 
		}
		
		.cell_tel:nth-of-type(n+2) { 
			display: none; 
		}
		
		.cell_email:nth-of-type(n+2) { 
			display: none; 
		}
		
		


		input[type="radio"],
		input[type="checkbox"] {
	display: block;
	position: absolute;
	z-index: 1;
	width: 99%;
	height: 100%;
	opacity: 0;
	top: 2px;
		}

		input[type="radio"]:checked ~ .cell,
		input[type="checkbox"]:checked ~ .cell {
			display: block;

			border-bottom: 1px solid #eee; 
		}
		
		input[type="radio"]:checked ~ .cell_nombre,
		input[type="checkbox"]:checked ~ .cell_nombre {
			display: block;

			border-bottom: 1px solid #eee; 
		}
		
		input[type="radio"]:checked ~ .cell_cargo,
		input[type="checkbox"]:checked ~ .cell_cargo {
			display: block;

			border-bottom: 1px solid #eee; 
		}
		
		
		input[type="radio"]:checked ~ .cell_tel,
		input[type="checkbox"]:checked ~ .cell_tel {
			display: block;

			border-bottom: 1px solid #eee; 
		}
		
		input[type="radio"]:checked ~ .cell_email,
		input[type="checkbox"]:checked ~ .cell_email {
			display: block;

			border-bottom: 1px solid #eee; 
		}
		
		
		

		input[type="radio"]:checked ~ .cell:nth-of-type(n+2),
		input[type="checkbox"]:checked ~ .cell:nth-of-type(n+2) {
			
			background: #e0e0e0;
		}
		
		
		input[type="radio"]:checked ~ .cell_nombre:nth-of-type(n+2),
		input[type="checkbox"]:checked ~ .cell_nombre:nth-of-type(n+2) {
			
			background: #e0e0e0;
		}
		
		input[type="radio"]:checked ~ .cell_cargo:nth-of-type(n+2),
		input[type="checkbox"]:checked ~ .cell_cargo:nth-of-type(n+2) {
			
			background: #e0e0e0;
		}
		
		input[type="radio"]:checked ~ .cell_tel:nth-of-type(n+2),
		input[type="checkbox"]:checked ~ .cell_tel:nth-of-type(n+2) {
			
			background: #e0e0e0;
		}
		
		input[type="radio"]:checked ~ .cell_email:nth-of-type(n+2),
		input[type="checkbox"]:checked ~ .cell_email:nth-of-type(n+2) {
			
			background: #e0e0e0;
		}
		
		
		
		

		input[type="radio"]:checked ~ .cell:nth-of-type(n+2):before,
		input[type="checkbox"]:checked ~ .cell:nth-of-type(n+2):before {
			content: attr(data-label);

			display: inline-block;
			width: 60px;
			background: #999;
			border-radius: 10px;
			height: 20px;
			margin-right: 10px;
			font-size: 12px;
			line-height: 20px;
			text-align: center;
			color: white;

		}
		
		input[type="radio"]:checked ~ .cell_nombre:nth-of-type(n+2):before,
		input[type="checkbox"]:checked ~ .cell_nombre:nth-of-type(n+2):before {
			content: attr(data-label);

			display: inline-block;
			width: 60px;
			background: #999;
			border-radius: 10px;
			height: 20px;
			margin-right: 10px;
			font-size: 12px;
			line-height: 20px;
			text-align: center;
			color: white;

		}
		
		input[type="radio"]:checked ~ .cell_cargo:nth-of-type(n+2):before,
		input[type="checkbox"]:checked ~ .cell_cargo:nth-of-type(n+2):before {
			content: attr(data-label);

			display: inline-block;
			width: 60px;
			background: #999;
			border-radius: 10px;
			height: 20px;
			margin-right: 10px;
			font-size: 12px;
			line-height: 20px;
			text-align: center;
			color: white;

		}
		
		input[type="radio"]:checked ~ .cell_tel:nth-of-type(n+2):before,
		input[type="checkbox"]:checked ~ .cell_tel:nth-of-type(n+2):before {
			content: attr(data-label);

			display: inline-block;
			width: 60px;
			background: #999;
			border-radius: 10px;
			height: 20px;
			margin-right: 10px;
			font-size: 12px;
			line-height: 20px;
			text-align: center;
			color: white;

		}
		
		input[type="radio"]:checked ~ .cell_email:nth-of-type(n+2):before,
		input[type="checkbox"]:checked ~ .cell_email:nth-of-type(n+2):before {
			content: attr(data-label);

			display: inline-block;
			width: 60px;
			background: #999;
			border-radius: 10px;
			height: 20px;
			margin-right: 10px;
			font-size: 12px;
			line-height: 20px;
			text-align: center;
			color: white;

		}
		
		input[type="radio"]:checked ~ .cell_clave:nth-of-type(n+2):before,
		input[type="checkbox"]:checked ~ .cell_clave:nth-of-type(n+2):before {
			content: attr(data-label);

			display: inline-block;
			width: 60px;
			background: #999;
			border-radius: 10px;
			height: 20px;
			margin-right: 10px;
			font-size: 12px;
			line-height: 20px;
			text-align: center;
			color: white;

		}
		
		

		input[type="radio"]:checked ~ .primary,
		input[type="checkbox"]:checked ~ .primary  {
			border-bottom: 2px solid #999;
		}

		input[type="radio"]:checked ~ .primary:after,
		input[type="checkbox"]:checked ~ .primary:after {
	 		position: absolute;
			right:18px;
			top:18px;
			border-right: 10px solid transparent;
			border-left: 10px solid transparent; 
			border-top:10px solid #ccc;
			z-index: 2;
		}
	}
